1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [38]:
test1 = 'This is a test of the emergency text system,'

f = open('test.txt', 'w')
f.write(test1)
f.close()

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [39]:
test2 = open('test.txt', 'r')
test2 = test2.readline()

if test1 == test2:
    print('Both are same')

Both are same

3. Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [40]:
f = open("books.csv", 'w')

f.write("""title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992""")
f.close()

In [41]:
import csv

rows = [['title', 'author', 'year'],
        ['The Weirdstone of Brisingamen', 'Alan Garner', 1960],
        ['Perdido Street Station', 'China Miéville', 2000],
        ['Thud!', 'Terry Pratchett', 2005],
        ['The Spellman Files', 'Lisa Lutz', 2007],
        ['Small Gods', 'Terry Pratchett', 1992]
       ]

with open("books.csv", 'w', newline='') as f:
    write = csv.writer(f)
    write.writerows(rows)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [42]:
import sqlite3

def connect():
    conn= sqlite3.connect("books.db")
    curr= conn.cursor()
    curr.execute("CREATE TABLE IF NOT EXISTS books(title text,author text,year integer)")
    conn.commit()
    conn.close()
    
    
connect()

5. Read books.csv and insert its data into the book table.

In [43]:
import pandas as pd

def read():
    conn = sqlite3.connect("books.db")
    read_books = pd.read_csv("books.csv", encoding='unicode_escape')
    read_books.to_sql('books', conn, if_exists='append', index= False)
    
read()

6. Select and print the title column from the book table in alphabetical order.

In [44]:
def print_title():
    conn= sqlite3.connect("books.db")
    curr=  conn.cursor()
    curr.execute('select title from books order by title asc')
    print(curr.fetchall())
    
print_title()

[('Perdido Street Station',), ('Perdido Street Station',), ('Small Gods',), ('Small Gods',), ('The Spellman Files',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('Thud!',), ('Thud!',)]

7. From the book table, select and print all columns in the order of publication.

In [45]:
def print_all():
    conn= sqlite3.connect("books.db")
    curr=  conn.cursor()
    curr.execute('select * from books order by year asc')
    print(curr.fetchall())
    
print_all()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Small Gods', 'Terry Pratchett', 1992), ('Small Gods', 'Terry Pratchett', 1992), ('Perdido Street Station', 'China Miéville', 2000), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('The Spellman Files', 'Lisa Lutz', 2007)]

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [46]:
import sqlalchemy

engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')

for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [ ]:
!pip install redis

In [ ]:
import redis

conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count', 3)